@tailwind base;
@tailwind components;
@tailwind utilities;


/* typography */

body {
  font-family: 'Satoshi', sans-serif;
}

h2 {
  font-size: 3.438rem;
  font-weight: 700;
}

p {
  font-size: 1.375rem;
}

/* For the links styling */

a {
  color: inherit; 
  text-decoration: none;
  position: relative;
}

/* Link animation (navbar) */

a:hover {
  color: #000;
}

.navbar-menu a::before, .footer-menu a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

a:hover::before {
  transform: scaleX(1);
}